SECRET_KEY=clave_super_secreta_local

DB_HOST=localhost
DB_NAME=Dessert_Sacre
DB_USER=postgres
DB_PASS=123456
DB_PORT=5432

MAIL_USERNAME=dessertsacre@gmail.com
MAIL_PASSWORD=contraseña_de_aplicacion
STRIPE_SECRET_KEY=CLAVE_SECRETA_DE_STRIPE