<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes | Dessert Sacré Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/admin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/navbar-top.css') }}">
    <link rel="stylesheet" href="/static/styles/admin/pedidos.css">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="ds-navbar">
        <div class="ds-navbar-inner">
            <div class="ds-brand">
                <img src="/static/img/LOGO1.png" alt="Logo" class="ds-logo">
                <span>Dessert Sacré <em>Admin</em></span>
            </div>
            <ul class="ds-links">
                <li><a href="{{ url_for('admin') }}">Panel</a></li>
                <li><a href="{{ url_for('admin_pedidos') }}">Pedidos</a></li>
                <li><a href="{{ url_for('usuarios_admin') }}" class="activo">Usuarios</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>


    <div class="container mt-4">
        <h2>Mensajes recibidos</h2>
        {% if mensajes %}

        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                </tr>
            </thead>

            <tbody>

                {% for m in mensajes %}
                <tr>

                    <td>
                        {{ m.nombre }}
                        {{ m.apellido }}
                    </td>

                    <td>
                        <a href="mailto:{{ m.email }}">
                            {{ m.email }}
                        </a>
                    </td>

                    <td>
                        {{ m.mensaje }}
                    </td>

                    <td>
                        {{ m.fecha.strftime('%d/%m/%Y %H:%M') }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <div class="alert alert-info">
            No hay mensajes registrados.
        </div>
        {% endif %}
    </div>


</body>

</html>