<link
  rel="icon"
  type="image/x-icon"
  href="{{ url_for('static', filename='img/dessert_sacre_icon.ico') }}?v=1"
/>
<div class="topbar-admin-top">
  <input
    type="text"
    id="buscadorAdmin"
    placeholder="Buscar..."
    class="search-box-admin-top"
  />

  <!--Acciones
    <div class="topbar-actions-admin-top">
        <li>
            <a href="#" id="tab-mensajes" onclick="mostrarTab('mensajes')" class="position-relative">
                ✉
                {% if admin_unread_messages > 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ admin_unread_messages }}
                </span>
                {% endif %}
            </a>
        </li>

        <li>
            <a class="nav-link" href="{{ url_for('logout') }}" class="logout">
                <img class="logout-icon" src="/static/img/cerrar-sesion.png" alt="Logout">
            </a>
        </li>
        </ul>
    </div>-->
</div>
