<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
{% include 'navbar1.html' %}

 <div class="Ambientación">
    <div class="Imagen">
        <img src="static/img/menu1.png" class="d-block w-100">  <-- IMAGEN DE EJEMPLO -->
    </div>
    <div class="Texto">
        <h3 id="Historia"> SOBRE NOSOTROS <h3>
        <p> En Dessert Sacré creemos que cada postre es más que un dulce: es un ritual de sabor, un instante de felicidad compartida. Nacimos con la pasión de transformar ingredientes simples en experiencias memorables, donde tradición y creatividad se encuentran en cada bocado.
            Nuestra esencia: unir técnicas artesanales con inspiración contemporánea para crear postres que despierten emociones.
            Nuestra inspiración: la diversidad cultural y gastronómica que nos rodea, celebrando sabores que conectan con la memoria y la innovación.
            Nuestro propósito: ofrecer un espacio inclusivo y acogedor, donde cada persona pueda encontrar un postre que le hable al corazón
            Cada creación de Dessert Sacré está pensada para ser un pequeño homenaje a la dulzura de la vida. Porque para nosotros, lo sagrado no está en lo distante, sino en esos momentos cotidianos que se vuelven extraordinarios con un buen postre. </p>
    </div>
    <br>
        
    <section class="section">
        <div class="header">
            <h2>Nuestro equipo</h2>
            <p>Conoce a las personas detrás de la visión y el crecimiento.</p>
        </div>
        <div class="team">
            <article class="card">
                <img class="photo" src="..." alt="Foto de Juan David Cedeño"/>                
                <div class="name">Juan David Cedeño</div>
                <div class="rol"> CEO  </div>
            </article>
            <article class="card">
                <img class="photo" src="..." alt="Foto de Salome Moreno"/>                
                <div class="name">Salome Moreno</div>
                <div class="rol"> Gerente </div>
            </article>
            <article class="card">
                <img class="photo" src="..." alt="Foto de Laura Gonzalez"/>                
                <div class="name">Laura Gonzalez</div>
                <div class="rol">Directora creativa.</div>
            </article>
            <article class="card">
                <img class="photo" src="..." alt="Foto de Angelica Benavides"/>                
                <div class="name">Angelica Benavides</div>
                <div class="rol">Directora </div>
            </article>
        </div>
    </section>
    {% include 'footer1.html' %}
</body>
</html>
