<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dessert Sacré | Inicio</title>
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="/static/styles/inicio.css">
</head>

<body class="menuN" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="90" tabindex="0">
  {% include 'navbar.html' %}

  <div class="hero-responsive">
    <img src="static/img/image1.png" alt="Panaderia" class="hero-img">
    <div class="hero-title-overlay">
      <span>DESSERT SACRÉ</span>
      <span>PANADERÍA QUE ENCANTA</span>
      <span>TU VIDA</span>
    </div>
  </div>

  <div class="espaC"></div>

  <section class="welcome-section">
    <div class="recuadro-beige">
      <p class="desc">Bienvenidos a Dessert Sacré</p>
      <div class="slogan-glorioso">
        <p style="font-family: 'Playfair Display'; font-size: 20px;">EL SABOR</p>
        <h2 class="bocado-text">GLORIOSO</h2>
        <p style="font-family: 'Playfair Display'; font-size: 20px;">EN UN BOCADO</p>
      </div>
      <p class="desc" style="color: var(--rose);">Donde el Pecado se Funde en Nuestros Glaseados</p>
    </div>
  </section>

  <section class="columna">
    <div class="columna-left">
      <div class="center-block">
        <h2 style="color: var(--brown); font-family: 'Playfair Display'; font-size:40px">CALIDAD ARTESANAL</h2>
        <p style="max-width: 400px; text-align: center; font-size:18px;">Cada producto es elaborado con ingredientes seleccionados para brindar una experiencia única.</p>
      </div>
    </div>
    <div class="VideoInicio">
      <video autoplay muted loop playsinline src="/static/vid/Inicio.mp4"></video>
    </div>
  </section>

  <div class="espaC"></div>

        <section class="columna1" aria-label="columna1 - Dessert Sacré">
            <div class="columna-left2">
                <section class="menu-section" alt="panaderia">

                  <div class="contenido">
                    <h1>PANADERÍA</h1>

                    <div class="linea">
                    </div>

                    <p>
                    Dessert Sacré ofrece una variedad de panadería
                    fresca, desde panes artesanales hasta
                    delisciosos croissants, perfectos para acompañar
                    tus bebidas favoritas.
                    </p>

                    <a href="/menu" class="btn">VER MENÚ.</a>
                  </div>

                  <div class="imagen">
                      <img src="/static/img/pan.jpg" alt="Pan" class="espuma">
                  </div>

                </section>

                <section class="espaC"> </section>

                 <section id="reposteria" class="menu-section" alt="reposteria">

                  <div class="imagen">
                      <img src="/static/img/postre.jpg" alt="Postre" class="espuma">
                  </div>


                  <div class="contenido">
                    <h1>REPOSTERÍA</h1>

                    <div class="linea">
                    </div>

                    <p>
                    Dessert Sacré ofrece una esquisita
                    repostería con deliciosos dulces y postres,
                    los cuales son perfectos para satisfacer
                    tus antojos.
                    </p>

                    <a href="/menu" class="btn">VER MENÚ.</a>
                  </div>

                </section>

                <section class="espaC"> </section>

                
                <section id="pasteleria" class="menu-section" alt="pastelería">

                  <div class="contenido">
                    <h1>PASTELERÍA</h1>

                    <div class="linea">
                    </div>

                    <p>
                    Dessert Sacré te ofrece la mejor repostería,
                    con productos dulces y salados, para que
                    deleites desde cada increíble torta hasta 
                    cada impactante postre.
                    </p>

                    <a href="/menu" class="btn">VER MENÚ</a>
                  </div>

                  <div class="imagen">
                      <img src="/static/img/torta.jpg" alt="Torta" class="espuma">
                  </div>

                </section>
                
                <section class="espaC"> </section>

                <section id="bebidas" class="menu-section">

                  <div class="imagen">
                      <img src="/static/img/cafe.jpg" alt="Café" class="espuma">
                  </div>


                  <div class="contenido">
                    <h1>BEBIDAS</h1>

                    <div class="linea">
                    </div>

                    <p>
                    Dessert Sacré ofrece una variedad de bebidas,
                    desde cafés calientes y helados hasta bebidas
                    refrescantes y ligeras como jugos frutales o té,
                    para complementar perfectamente tus antojos.
                    </p>

                    <a href="/menu" class="btn">VER MENÚ.</a>
                  </div>

                </section>
                
                <section class="espaC"> </section>

            </div>
        </section>

    </div>
  {% include 'footer.html' %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
crossorigin="anonymous"></script>
</html>
