<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Pago | Dessert Sacré</title>
    <link rel="stylesheet" href="/static/styles/pasarela.css">
</head>
<body>

<div class="container">

    <h1>Finalizar compra 🧁</h1>

    <!-- RESUMEN DEL CARRITO -->
    <div class="producto">
        <h3>Total a pagar:</h3>
        <h2 id="totalCompra">Cargando...</h2>
    </div>

    <!-- DATOS CLIENTE -->
    <div class="formulario">
        <input type="text" id="nombre" 
            value="{{ usuario.nombre if usuario else '' }}" 
            placeholder="Nombre completo" readonly>

        <input type="email" id="email" 
            value="{{ usuario.email if usuario else '' }}" 
            placeholder="Correo electrónico" readonly>

       <input type="text" id="telefono" 
            value="{{ usuario.telefono if usuario else '' }}" 
            placeholder="Número de teléfono" readonly>
    </div>

    <!-- MÉTODO DE PAGO -->
    <div class="metodos">
        <h3>Método de pago</h3>

        <select id="metodo">
            <option value="nequi">Nequi</option>
            <option value="banco">Transferencia Bancaria</option>
            <option value="efecty">Efecty</option>
        </select>

        <div id="infoPago"></div>
    </div>

    <button onclick="crearPedido()">Confirmar pedido</button>

    <!-- RESULTADO -->
    <div id="resultado"></div>

</div>

<script src="/static/js/pasarela.js"></script>
</body>
</html>