.zoom {
  zoom: 0.88;
}

.carousel-item img {
  width: 100%;
  max-height: 600px;
  min-height: 400px;
  object-fit: cover;
}

.container.mt-4 {
  padding: 10px;
}

/* Tarjetas */
.card {
  height: 100%;
}

/* Botón */
.btn-warning {
  background: #d99b4d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: none;
}

.btn-warning:hover {
  background: #c4883d;
}

/* Textos */
.card h6 {
  font-weight: bold;
  color: black;
}

.card h5 {
  font-weight: bold;
  color: black;
}