:root{
    --red: #a9133e;
    --brown: #572727;
    --pink: #f4c7c4;
    --rose: #c86a6b;
    --beige: #f8e8d4;
    --accent: #d99b4d;
    --green: #95ae78;
  }

body {
    background: #FFF7EE;
    font-family: "Georgia", serif;
    padding-top: 24px;
}

.menu_de_navegacion ul {
    background: #f1c5c2;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style:none;
}

.menu_de_navegacion ul li {
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.menu_de_navegacion ul li ul {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    list-style:none;
}

.menu_de_navegacion ul li:hover ul {
    display: block;
}

.contenedor {
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    background: #f1c5c2;
    border-radius: 20px;
    text-align: center;
}

.boton {
    display: block;
    margin: 15px auto;
    padding: 12px;
    width: 80%;
    background: #FFF3C0;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.form {
    width: 350px;
    background: #f1c5c2;
    padding: 25px;
    border-radius: 20px;
    margin: 40px auto;
}

.form input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

.form button {
    background: #FFF3C0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 90%;
}

nav {
    background-color: var(--brown) !important;
}

.navbar-brand {
    color: var(--beige)  !important;
}

.navbar-brand:hover {
    color: var(--beige)  !important;
}

a.nav-link {
    color: var(--beige) ;
}

a.nav-link:hover {
    color: var(--beige);
}

body {
    background-color: #f8f9fa;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
}

.dropdown-menu {
    background-color: rgb(141, 70, 55);
}

.dropdown-item {
    color: var(--beige);
}

.dropdown-item:hover {
    background-color:transparent !important;
    color: white;
}

.nav-link.dropdown-toggle {
  color: var(--beige);
}


.nav-link.dropdown-toggle {
  color: var(--beige) !important;
}

.nav-link.dropdown-toggle:hover {
    background-color: transparent;
  color: white !important; 
}

/* FONDO DEL MODAL */
.modal {
    display: block; /* Flask lo puede manejar cambiando el display */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* CAJA DEL MODAL */
.modal-box {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
}

/* BOTONES */
.btn-modal {
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-modal.principal {
    background: #f1c5c2;
    color: #000;
}

.btn-modal.secundario {
    background: #FFF3C0;
    color: #000;
}

.logo-modal {
    width: 120px;
    margin-bottom: 10px;
}

.logo-superpuesto {
    position: absolute;
    top: 0px;        /* Ajusta verticalmente */
    left: 30px;      /* Ajusta horizontalmente */
    height: 50px;    /* Tamaño que necesitas */
    width: auto;
    z-index: 9999;   /* Encima del navbar */
    pointer-events: none; /* Para que no afecte clics */
}

.navbar-brand {
    position: relative; /* Necesario para referenciar el absolute del logo */
    padding-left: 50px; /* Deja espacio para el texto */
}
