<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/footer.css">
</head>

<body>
    <div class="espaC"></div>

    <footer class="footer">

    <div class="footer-container">

      <div class="footer-col">
        <h3>Dessert Sacré</h3>
        <p>Panadería artesanal donde cada bocado encanta tu vida.</p>
      </div>

      <div class="footer-col">
        <h4>Explora nuestro <a href="/menuU">Menú</a></h4>
      </div>

      <div class="footer-col">
        <h4>¡Garcias por Ingresar! Disfruta de nuestros servicios.</h4>
      </div>

    </div>

    <div class="espaC1"></div>

    <p class="copy">© 2026 Dessert Sacré</p>

  </footer>

</body>
</html>
