<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/sobrenosotros.css">

</head>
<body>
<header>

    {% include 'users/navbar1.html' %}

    <a href="https://wa.me/573025662571?text=Hola,%20quiero%20hacer%20un%20pedido" class="whatsapp-float"
        target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>

</header>
 <div class="Ambientación">
    <div class="Imagen">
        <img src="static/img/sobrenosotros.jpg" alt="Nosotros">
        <div class="texto-cabecera">
            <h3>Nuestra Historia</h3>
            <h4>Dessert Sacré</h4>
        </div>
    </div>
    

    <div class="Bloques">
        <div class="Bloque1">
            <img src="static/img/sbbloque1.jpg" alt="Imagen de ambientación">
        </div>

        <div class="Texto" id="Historia">
        <p> En Dessert Sacré creemos que cada postre es más que un dulce: es un ritual de sabor, un instante de felicidad compartida. Nacimos con la pasión de transformar ingredientes simples en experiencias memorables, donde tradición y creatividad se encuentran en cada bocado. <br><br>   
            Nuestra esencia: unir técnicas artesanales con inspiración contemporánea para crear postres que despierten emociones. <br><br>
            Nuestra inspiración: la diversidad cultural y gastronómica que nos rodea, celebrando sabores que conectan con la memoria y la innovación.<br><br>
            Nuestro propósito: ofrecer un espacio inclusivo y acogedor, donde cada persona pueda encontrar un postre que le hable al corazón
            Cada creación de Dessert Sacré está pensada para ser un pequeño homenaje a la dulzura de la vida. <br><br> Porque para nosotros, lo sagrado no está en lo distante, sino en esos momentos cotidianos que se vuelven extraordinarios con un buen postre. </p>
        </div>
        
        <div class="Bloque2">
            <img src="static/img/sbbloque3.jpg" alt="Imagen de ambientación">
        </div>

    </div>
    <br>

    <div class="espaC" ></div>

        <div class="header" id="Equipo">
            <h2>Nuestro Equipo</h2>
            <p>Conoce a las personas detrás de la visión y el crecimiento.</p>
        </div>


        <div class="team">
            <div class="card1">
                <img class="photo" src="static/img/cede.png" alt="Foto de Juan David Cedeño"/>                
                <div class="name">Juan David Cedeño</div>
                <div class="rol"> CEO  </div>
            </div>
            <div class="card2">
                <img src="static/img/salo.png" alt="Foto de Salome Moreno"/>                
                <div class="name">Salome Moreno</div>
                <div class="rol"> Gerente </div>
            </div>
            <div class="card3">
                <img src="static/img/Lara.png" alt="Foto de Laura Gonzalez"/>                
                <div class="name">Laura Gonzalez</div>
                <div class="rol">Directora creativa</div>
            </div>
        </div>
        <div class="team2">
            <div class="card4">
                <img src="static/img/Angelica.jpeg" alt="Foto de Angelica Benavides"/>                
                <div class="name">Angelica Benavides</div>
                <div class="rol">Directora </div>
            </div>
            <div class="card5">
                <img src="static/img/Laura.jpeg" alt="Foto de Laura Torres"/>                
                <div class="name">Laura Torres</div>
                <div class="rol">Directora </div>
            </div>
        </div>
    
        {% include 'users/footer1.html' %}

</body>
</html>
